body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #32CD32;
}

.main-content {
    flex: 1;
    min-height: calc(100vh - 106px);
}

.footer {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
    bottom: 0;
}

.nutritionText {
    color: black;
    background-color: #32CD32;
    padding: 2px 4px;
    border-radius: 15px;
    font-weight: bold;
}

.energy {
    background-color: #32CD32;
}

.protein {
    background-color: #00bfff;
}

.carbohydrate {
    background-color: #FFA500;
}

.fat {
    background-color: #FF69B4;
}

